<%= form_with(model: medical_service, local: true) do |form| %>
  <% if medical_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medical_service.errors.count, "error") %> prohibited this medical_service from being saved:</h2>

      <ul>
      <% medical_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pet_name %>
    <%= form.text_field :pet_name, id: :medical_service_pet_name %>
  </div>

  <div class="field">
    <%= form.label :pet_type %>
    <%= form.text_field :pet_type, id: :medical_service_pet_type %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, id: :medical_service_size %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :medical_service_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
