<p id="notice"><%= notice %></p>

<p>
  <strong>Pet name:</strong>
  <%= @medical_service.pet_name %>
</p>

<p>
  <strong>Pet type:</strong>
  <%= @medical_service.pet_type %>
</p>

<p>
  <strong>Size:</strong>
  <%= @medical_service.size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medical_service.description %>
</p>

<%= link_to 'Edit', edit_medical_service_path(@medical_service) %> |
<%= link_to 'Back', medical_services_path %>
